@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://github.com/yueyinqiu/OneHexagramPerDay.git" target="_blank">开源仓库</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
