<div class="alert alert-secondary mt-4">
    <span class="text-nowrap">
        欢迎关注微信公众号“一日一卦”。
        <br />
        <a href="https://github.com/yueyinqiu/my-yijing-annotation-stores/tree/main/975345ca">点此</a>查看网站所用的注解仓库。
    </span>
</div>
