@using OneHexagramPerDayCore;
@using BlazorApp.Services;
@using System.Diagnostics;

@page "/"

@inject ZhouyiStoreProvider ZhouyiStoreProvider

<PageTitle>一日一卦</PageTitle>

@if (hexagramToShow == hexagramToday)
{
    @if (hexagramName is null)
    {
        <h1>@hexagramChar 今日之卦</h1>
        <p>一日一卦获取中……</p>
    }
    else
    {
        <h1>@hexagramChar @hexagramName</h1>
        <p>一日一卦于 @DateTimeString</p>
    }
}
else
{
    @if (hexagramName is null)
    {
        <h1>@hexagramChar 卦爻辞查询中……</h1>
    }
    else
    {
        <h1>@hexagramChar @hexagramName</h1>
    }
}

<Hexagram Painting=@hexagramToShow></Hexagram>

<Footer></Footer>
